$colors: (
  primary:#F7931E,
  secondary: #87C000,
  black: #000,
  white: #FFF,
);
$margins: (
  small: 5px,
  medium: 10px,
  large: 15px,
);
$paddings: (
  small: 5px,
  medium: 10px,
  large: 15px,
  extraLarge: 20px
);
$radius: (
  small: 3px,
  medium: 6px,
)