$colors: (
  primary:#F7931E,
  secondary: #87C000,
  black: #000,
  white: #FFF,
);
$margins: (
  small: 5px,
  medium: 10px,
  large: 15px,
);
$paddings: (
  small: 5px,
  medium: 10px,
  large: 15px,
  extraLarge: 20px
);
$radius: (
  small: 3px,
  medium: 6px,
);
$index: (
  z1: 1,
  z2: 2,
  z3: 3,
  z4: 4,
  z5: 5,
  z6: 6,
  z7: 7,
)