@import '../../../styles/theme';

.custom-button {
  border: none;
  margin: map-get($margins, small);
  border-radius: map-get($radius, small);
  color: map-get($colors, white);
  }

.small {
  padding: map-get($paddings, small) map-get($paddings, medium);
}
.medium {
  padding: map-get($paddings, medium) map-get($paddings, large);
}
.large {
  padding: map-get($paddings, large) map-get($paddings, extraLarge);
}

.color-primary{
  background-color: map-get($colors, primary);
  &:hover{
    background-color: darken(map-get($colors, primary), 5%);
  }
}
.color-secondary{
  background-color: map-get($colors, secondary);
  &:hover{
    background-color: darken(map-get($colors, secondary), 5%);
  }
}